[2019-11-23 16:09] paulperry opened #2 "Can't install from the extension manager"
Instead of following the install steps here, I chose to install from the Extension Manager and received this error:

[code]

[2019-11-25 19:55] reevejd commented on #2
Hello @paulperry,

Thanks for bringing the issue to my attention. This extension now supports the latest version of JupyterLab (1.2.3). Note that this extension has an accompanying server extension, so if you try to install it through the extension manager you'll get a warning:
<img width="499" alt="Screen Shot 2019-11-25 at 2 50 27 PM" src="https://user-images.githubusercontent.com/12180828/69572

[2019-11-25 19:55] #2 closed

[2020-01-21 16:47] eric-leblouch-al opened #3 "Error right after installation"
When I reload the jupyter lab after the installation I have the following error:
[code]

The s3 and s3/auth endpoints are not defined on the instance.

Is there a needed configuration prior to the reload in addition to the pip and jupyter labextension installations ?

[2020-02-02 01:46] reevejd commented on #3
Hello,

You may need to manually enable the server extension by running:
[code]
Please let me know if that works for you and I'll make a note in the readme.

[2020-02-03 09:51] eric-leblouch-al commented on #3
That was it thank you !

[2020-02-03 13:10] octavd opened #4 "Feature request create new folders, add files s3 bucket"
Hello,

Is there a way or are you planning on realeasing a new feature for this extension regarding creating folders, adding files on the bucket that is currently connected?

![request](https://user-images.githubusercontent.com/33294589/73655728-4af81600-4697-11ea-8e45-4e57f40f098f.PNG)

[2020-02-03 14:24] reevejd commented on #3
Great! I'll add a note to the readme

[2020-02-03 14:25] #3 closed

[2020-02-03 14:26] reevejd commented on #4
Thanks for your interest! This feature isn't available right now, but I'm planning on adding it soon.

[2020-02-03 14:38] octavd commented on #4
Hello reevejd,

First of all, thank you for the response.
Secondly, do you have an estimated time until release, or? :D

Thanks!

[2020-02-03 23:35] reevejd commented on #4
I'm aiming to have it available by the end of the month.

[2020-02-04 07:53] octavd commented on #4
Great. Looking forward to it.

[2020-02-05 13:32] oleksandr opened #5 "Configuration?"
Could you please include some notes how to configure this extension?
The blind installation shows a "white screen of death" at the S3 tab.
Thanks!

[2020-02-06 12:41] reevejd commented on #5
I'll work on replacing the white screen of death with some sensible message. In the meantime you can you confirm you've followed the [installation instructions](https://github.com/IBM/jupyterlab-s3-browser#installation)? Or are you having issues with those instructions as well?

[2020-02-06 14:32] oleksandr commented on #5
Thanks! I followed the guidelines and installed it manually and now I see the form.
Previously I've installed it via Extension Manager in Lab (rebuilt, reloaded) and got white screen of death.

[2020-02-11 01:34] reevejd opened #7 "Viewing a bucket with a large number of files/prefixes causes the extension to choke"
Viewing a bucket with 500+ (exact number required to reproduce is unknown) items causes the extension to reliably choke.

[2020-02-17 16:45] peterquirk opened #9 "Support for more than one bucket and S3 service"
In data lake applications it is common practice to support multiple zones, such as a raw zone, a curated zone and a published or consumption zone. Each may be represented by a different bucket with different access policies. Further, in some cases, the raw zone may be on-premises, while the consumption zone might be in the cloud, or vice-versa.

It would be valuable to enhance the s3-browser exten

[2020-02-18 15:26] reevejd commented on #9
Thanks for the suggestion! I agree, this would be a valuable feature. I'll see what I can do.

[2020-02-24 14:28] tomcatlingcma commented on #7
+1 to this issue. Would love to use this extension but it gets destroyed by our bucket, which has millions of objects.

I think this could probably be solved by using

[code]

at https://github.com/IBM/jupyterlab-s3-browser/blob/6c9693803650864c3922c76b0413d54b42e93825/jupyterlab_s3_browser/__init__.py#L181

[2020-02-28 16:36] Bipin007 opened #10 "Vertical/Horizontal scroll bar missing"
I have noticed a bug that there is no horizontal scroll , so if we have many buckets or files with long names , you cannot access them. We can also check for vertical scrolls, if to explore long list of bucket and files.

[2020-03-01 15:39] zmeecer opened #11 "Migrate to JupyterLab v2"
Currently, the extension cannot be used with JupyterLab v2 (released 2 days ago)

https://jupyterlab.readthedocs.io/en/stable/developer/extension_migration.html

[2020-03-02 00:51] reevejd commented on #11
Thanks for opening the issue. [Version 0.4.0 is now available](https://github.com/IBM/jupyterlab-s3-browser/releases/tag/0.4.0) and is compatible with JupyterLab 2.0.

[2020-03-02 00:51] #11 closed

[2020-03-06 14:19] timhughes opened #12 ""jupyterlab-s3-browser" does not yet support the current version of JupyterLab."
just a FYI
[code]

[2020-03-09 15:13] brl0 commented on #7
In addition to the extension choking, it seems to choke an entire jupyterlab session.

[2020-03-11 08:40] vagarwal77 commented on #12
Any update to this issue as i am also seeing the same issue

[2020-03-12 04:46] reevejd commented on #12
Oops, my bad. Thanks for bringing this up. It's fixed in the newly released version 0.4.1.

[2020-03-12 04:46] #12 closed

[2020-04-03 10:49] octavd commented on #4
Hello reevejd,

Any news about this request?

[2020-04-08 00:18] jagane-opensource opened #13 "Access to large buckets (many objects in a hierarchy) is slow"
Reading the s3 bucket using the following snippet
    all_objects = [obj for obj in bucket.objects.filter(Prefix=path)]

The bucket.objects.filter(Prefix=path)] takes a long time for buckets that have millions of objects. This is because we don't process it hierarchically using a separator. Switching to the list_objects_v2 api makes things much faster. However, this implies certain things - for ex

[2020-04-08 00:20] jagane-opensource commented on #13
This patch may be applied using:
patch -p1 < patch-issue-13.txt
[patch-issue-13.txt](https://github.com/IBM/jupyterlab-s3-browser/files/4447563/patch-issue-13.txt)

[2020-04-08 21:52] jagane-opensource commented on #13
Here's a slightly improved version of the patch - more concise code, better named functions, etc.
[patch-issue-13-v2.txt](https://github.com/IBM/jupyterlab-s3-browser/files/4452981/patch-issue-13-v2.txt)

[2020-04-09 02:42] reevejd commented on #13
Hi Jagane, thanks for the patch, this is great! The performance is indeed dramatically better with your changes. However, I've noticed that it doesn't properly fetch objects that are nested a few "folders" deep (i.e. objects with prefixes like `path/to/my/object`). I should have time to look into it further this Friday.

Would you like to open up a PR so you're properly recorded as the contributor

[2020-04-09 03:55] jagane-opensource commented on #13
You are right, James - there was a bug in my patch that caused hierarchical
listings to not work correctly. I fixed that now.

I actually created a PR on github - PR#13 and I have the latest version of
the patch uploaded there. I also renamed a misnamed method and made the
code more concise.

Jagane

On Wed, Apr 8, 2020 at 7:42 PM James Reeve <notifications@github.com> wrote:

[2020-04-09 12:44] reevejd commented on #13
Hi Jagane,

Thanks for making the fix, but I don't see your PR. Can you try creating it again?

[2020-04-09 16:50] jagane-opensource commented on #13
Hello James

When you say PR, do you mean the 'Issue' feature in github, or do you folks
have a different bug tracking system? I apologize if this is described
somewhere else, I must have missed it.

Thanks
Jagane

On Thu, Apr 9, 2020 at 5:44 AM James Reeve <notifications@github.com> wrote:

[2020-04-09 17:17] reevejd commented on #13
Hi Jagane,

In GitHub jargon a PR or Pull Request is a request to merge code from one branch into another. So on [your fork of this repository](https://github.com/jagane-opensource/jupyterlab-s3-browser), you can click `Pull Request` (or just go directly to this link: https://github.com/jagane-opensource/jupyterlab-s3-browser/pull/new/master)
<img width="1004" alt="open-a-pr" src="https://user-ima

[2020-04-09 17:28] jagane-opensource commented on #13
Aha - I was thinking that PR means Problem Report, an archaic term for bug
reports. I just created the github Pull Request, you should see it soon.

Best
Jagane

On Thu, Apr 9, 2020 at 10:17 AM James Reeve <notifications@github.com>
wrote:

[2020-04-09 18:16] reevejd commented on #13
Thanks for opening the PR, let's continue discussion in the PR itself: https://github.com/IBM/jupyterlab-s3-browser/pull/14#pullrequestreview-391023593

[2020-04-10 03:18] reevejd commented on #13
Version 0.6.0 of this extension is now available with the fix for this issue from your PR. Thanks again for your contribution.

[2020-04-10 03:18] #13 closed

[2020-04-10 03:19] reevejd commented on #4
I've been unexpectedly busy, but it's still on my radar. I hope to pick this issue up soon

[2020-04-10 03:21] reevejd commented on #7
I believe this was fixed in https://github.com/IBM/jupyterlab-s3-browser/pull/14, but please reopen if you're still having issues.

[2020-04-10 03:21] #7 closed

[2020-04-24 03:27] blairdrummond opened #15 ""cannot unpack non-iterable NoneType object.""
Seems idiosyncratic, but on some folders, I get this error

![sreenshot-2020-04-23_23-04-1587698705](https://user-images.githubusercontent.com/10801138/80171952-b75d2400-85b9-11ea-8652-9f34d6b719f7.png)

However the folder is not empty, I can see the contents in minio. I don't have any fancy policies, though I don't know this tech well. Error on the notebook server is below

[code]

As I said, the

[2020-04-24 12:36] blairdrummond commented on #15
It seems to not play nice with folders within buckets in general? Does it expect a flat file layout?

[2020-04-24 14:46] Bipin007 opened #16 "Getting 500 error code and feature enhancement plan to gray out or hide on files not having permission to view"
Hi Author,

I'm getting 500 error code when trying to browse files from nested folder and also is there a feature enhancement plan to gray out or hide on files not having permission to view.

[2020-04-24 14:51] reevejd commented on #15
Thanks for opening the issue. It's supposed to work for any file layout. I'll take a look later today.

[2020-04-24 14:51] reevejd commented on #16
Sounds like a duplicate of https://github.com/IBM/jupyterlab-s3-browser/issues/15

[2020-04-27 14:25] reevejd commented on #15
I'm able to reproduce the issue. Unless I'm mistaken it's minio specific, which is surprising. I fully intend for this extension to support minio so I'll continue looking into it. Thanks again for raising the issue.

[2020-04-28 18:53] blairdrummond commented on #15
Yeah I did run this on minio; I should have mentioned that!

[2020-05-05 17:34] nawa opened #17 "Access to S3 with IAM role"
**Is your feature request related to a problem? Please describe.**
Seems that I can access only with static defined Access Key ID / Secret Access Key.
Temporary credentials (assumed) don't work either, because there is no way to define session token

**Describe the solution you'd like**
- an option without any credentials - in this case, applied IAM role should be used
- the less desired solution

[2020-05-13 12:49] eric-leblouch-al commented on #17
The option without credentials is now working well on SageMaker notebook server. I think this issue can be closed.

[2020-06-09 17:04] t14g0p commented on #15
Hey, I'm also having the same issue. Not using minio.

[2020-06-11 14:50] elgalu opened #18 "Filter `aws s3 ls` buckets by name"
Instead of listing all buckets it would be convenient to have a configurable filter, e.g.

[code]

Or some other way, e.g.

[code]

[2020-06-17 16:12] KPouianou opened #19 "reset"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-17 16:12] #19 closed

[2020-06-17 16:14] KPouianou opened #20 "Reset AWS credentials?"
I need to change the credentials used by the plugin to access AWS, as the ones currently in use are no longer valid. However, even after removing and reinstalling the plugin, there is no obvious way to reset the credentials, and I am getting a 500 error when trying to open any one of my buckets.

[2020-06-18 18:55] code247 opened #21 "Support Shareable Link"
JupyterLab supports `Copy Shareable Link` option in the context menu (right-click).

Currently, this option is being displayed for the s3 resources as well and it copies the shareable link to the clipboard appropriately. But if you paste this link in the browser and try to navigate to the resource, it doesn't take you to the desired destination but rather the root of your s3 storage.

**Describe t

[2020-06-24 07:00] jewelltp opened #22 "Private/Corporate Connections"
It looks like you guys are busy developing this - so I won't go into too much detail. Just want to ask what is the game plan to make this fully secure for some to use within private VPC's within AWS. Right now, we are using SageMaker and have a role opened up to hit our s3 buckets using boto3. It would be nice to have this automatically grab our credentials from SageMaker to pass to access s3. Loo

[2020-06-27 00:47] reevejd commented on #15
Thanks for the info. I believe this has now been fixed in the most recent releases for JupyterLab 1.x and 2.x. Please reopen this issue if you continue to encounter it after updating. Thanks!

[2020-06-29 17:47] ptitzler opened #23 "Support download/editing of objects"
**Is your feature request related to a problem? Please describe.**
I am trying to consume objects that are stored in object storage. For example, my bucket contains notebooks, markdown files, HTML files, compressed archives, etc that I'm trying to view/edit in JupyterLab. Currently the S3 browser appears to only support this for notebooks.

**Describe the solution you'd like**
An approach that mim

[2020-08-09 18:46] jarutis commented on #15
Still seeing this Amazon S3 and

jupyterlab==2.2.2
jupyterlab-s3-browser==0.6.1

I can provide more info if there is something that would help.

[2020-08-10 22:14] reevejd commented on #15
@jarutis what version of the labextension are you using? You can run `jupyter labextension list` to show the versions of all the labextensions you have installed.

[2020-08-17 15:17] reevejd commented on #15
Sorry for the delayed response. if you update from version `0.4.1` to `0.6.1` it should resolve the issue. If not, please let me know.

[2020-08-17 15:17] #15 closed

[2020-09-21 22:03] mwidjaja1 opened #26 "Upgrade Requirements so it can use Coreutils greater than 4.1"
I'd like to get version 0.6.0 because I'm running into #15 but am unable to because of this version mismatch. for coreutils.

package.json currently requests Coreutil's version to be `"@jupyterlab/coreutils": "~4.1"`. This seems off because an older version, version 0.4.1, actually has it at ` "@jupyterlab/coreutils": "^4.0.0"`. This means that _newer_ versions of Coreutils is actually directed to

[2020-09-23 00:13] reevejd commented on #26
Thanks for opening the issue. It should be fixed in version 0.6.2, can you confirm?

[2020-09-23 01:08] mwidjaja1 commented on #26
I'd be glad to @reevejd but I'll be honest, I'm a little of a Jupyter newb so I'm not sure how to test version 0.6.2. What should I do to grab that version?

[2020-09-23 20:41] reevejd commented on #26
Running `jupyter labextension install jupyterlab-s3-browser` should get the latest version (now 0.6.2) for you. Afterwards you can verify by running `jupyter labextension list`.

[2020-09-23 21:20] mwidjaja1 commented on #26
Hmm I'm running into a bunch of incompatibility errors now. Unfortunately I can't easily paste the error message here due to the computer's location, but some things of note

* `fsevents@2.1.3` is incompatible with 'linux', and because its optional, was excluded from installation.
* `coreutils@1.5.3` has unmet dependency on `crypto@1.0.1`
* `ipyvolume > tslint@5.20.1` has unmet dependency on `type

[2020-09-25 12:53] reevejd commented on #26
Can you tell me a bit more about how you're trying to use this extension and the commands you're running to get the above errors?

[2020-09-29 21:04] mwidjaja1 commented on #26
Hey sorry for taking a while to get back! I was redirected onto another fire so I couldn't poke into this too much (still couldn't poke around too much).

But I started on an AWS Amazon-Linux machine with version 0.4 of this package and tried running the command you gave me to upgrade. While running that command, I got the 'summarized' error messages I pasted before.

Is this what you meant or is

[2020-10-05 12:03] reevejd commented on #26
I'll investigate and get back to you

[2020-10-06 23:04] jpays opened #27 "Is there a way to specify credentials in configuration"
Hello,

I'm using version 6.1 of the plugin.

I successfully installed the s3 browser in our environment, but I would like to save the users the pain of typing their credentials in the auth form.

It's not clear if there is a way to set the credentials (endpoint_url, access key and secret) in a configuration file and/or environment variables to entirely skip the auth form ?

Thank you

Jerome

[2020-10-08 13:08] octavd opened #28 "Weird character display for folders in bucket + files"
**Describe the bug**
In version **0.6.2** of the jupyterlab-s3-browser extension + **0.6.1** pip jupyterlab-s3-browser, when inside the bucket, i see weird characters displayed for the folders, files etc.

In version **0.4.1** of the jupyterlab-s3-browser extension + **0.4.1** pip jupyterlab-s3-browser, everything is displayed correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Connec

[2020-10-08 13:12] rezuma commented on #17
Hello,

Is there a way to make this extension work with Kubernetes (EKS) service account? Kubernetes Service Accounts are mapped to IAM roles and use by k8s pods.

Thanks

[2020-10-08 14:54] reevejd commented on #27
It's currently not supported, but I should be able to release a new version next week with support for environment variable-based authentication. Thanks for the suggestion.

[2020-10-13 15:40] mwidjaja1 commented on #26
Hey, I greatly apologize for my long delay in getting back with you. It's been fire after fire and I never had the time to check back on this.

So last time, I had the old version of this plugin installed. I ran the install command you gave me and got that horrible traceback. Today I uninstalled it completely, rebuilt JupyterLab, and then reinstalled it using the same command you gave me. This tim

[2020-10-20 13:53] melvinev commented on #27
Hi @reevejd love the extension thank you.  Any update on timeline for auto login using environment variables?

[2020-10-21 12:57] reevejd commented on #27
Hi @melvinev, thanks for your interest. I'll try to get it out by this Monday. It's not particularly difficult to do, I've just been busier than expected the past two weeks.

[2020-10-25 21:47] reevejd commented on #27
I've added support for environment variable based authentication in ece9312cf592ec2f63f91fec6b239e924bc118d1. It's available in the newly released version 0.7.0.

[2020-10-25 21:47] #27 closed

[2020-10-26 16:08] calvinytong opened #29 "Boto debug logging is too verbose"
**Is your feature request related to a problem? Please describe.**
The extension seems to dump the debug logs from botocore, which are pretty verbose and can hide other logs

**Describe the solution you'd like**
It would be nice to allow the logging to be configurable and/or set the default level to something less verbose (err/warn maybe)

[2020-10-28 16:41] melvinev commented on #23
Would be very helpful to be able to navigate to a CSV file on S3 and edit/save it.

[2020-10-28 17:17] melvinev opened #31 "Freezes JupyterLab when opening a CSV from S3"
**Describe the bug**
When I navigate to a CSV file and try to open it, it freezes my Jupyter Lab 2.2.8.

**To Reproduce**
Steps to reproduce the behavior:
Navigate to a CSV on S3,

**Expected behavior**
CSV file should load in the Jupyter Lab CSV reader.

**Screenshots**
![image](https://user-images.githubusercontent.com/35536427/97472016-9a0d6780-1906-11eb-88d9-b69d8c22a07b.png)

**Desktop (pleas

[2020-10-28 17:22] melvinev commented on #31
I think it's a problem with the CSV editor extension I use and not having write access to the S3 bucket.  Will remove the editor or use the default Jupyter reader (which works fine).

https://github.com/krassowski/jupyterlab-spreadsheet-editor

[2020-10-28 17:22] #31 closed

[2020-11-23 08:17] octavd commented on #28
Hello,

Any news regarding this?

[2021-01-08 05:28] haijohn opened #33 "Can not install on JupyterLab 3.0"
**Describe the bug**
when install on jupyterlab 3.0 the following error occured:
[code]
**To Reproduce**
Steps to reproduce the behavior:
```jupyter labextension install jupyterlab-s3-browser```

[2021-01-13 16:45] octavd commented on #28
Hello,

Happy new year! 👍
Is this repo abandoned? or.. :)

[2021-01-20 16:05] octavd commented on #33
I think this extension is abandoned. :(

[2021-01-20 16:37] reevejd commented on #33
Thanks for opening the issue. I definitely want to support JupyterLab 3, but I haven't had time to work on it yet. I'll try to release a 3.x compatible version sometime this weekend.

[2021-01-27 14:22] reevejd commented on #33
The upgrade process requires more effort than I expected, so it will likely take another week or two before I find time to finish it.

[2021-03-01 22:35] av8r commented on #33
any news ?

[2021-03-03 01:39] reevejd commented on #33
I should be able to put out a release candidate version tomorrow for anyone who's interested to try. Then probably a final version a few days later.

[2021-03-04 23:53] reevejd commented on #33
JupyterLab 3 is now supported. You can try it out with:
[code]

[2021-03-04 23:53] #33 closed

[2021-03-04 23:54] reevejd commented on #29
Thanks for opening the issue, sorry it took me so long to get around to it. Logging is no longer so verbose.

[2021-03-04 23:54] #29 closed

[2021-03-04 23:54] #26 closed

[2021-03-05 17:01] octavd commented on #28
Hello @reevejd , is there any possibility you will take a look at this bug?

[2021-03-05 18:45] reevejd commented on #28
Yep, I can take a look. Can you start by confirming the issue is present on the most recent version (0.8.0)?

If the issue is still present, can you help me reproduce the issue? How do I need to set up my bucket (e.g. what objects should I create) to get that behaviour?

[2021-03-05 23:42] calvinytong commented on #29
Thanks so much for getting to it!

[2021-03-08 11:26] octavd commented on #28
Hello @reevejd ,

First of all thank you for your message.

Secondly, I tried to install version 0.8.0 but it seems it's automatically grabbing version >= 3.0.0 of JupyterLab. I am working with `jupyterlab==2.2.9`.

Ways to reproduce? Well, connect to an S3 endopint -> create a bucket and some folders in that bucket + files in that folder - just like what i've attached in the screenshot (with boto

[2021-03-09 02:35] reevejd commented on #28
I've released version 0.9.0, which should be backwards compatible with JupyterLab 2. Hopefully this problem isn't present on that version, and you can ignore everything below.

--------------

If you're still experiencing the issue, can you give me an example object key that you have in your bucket that's giving you problems?

E.g. I have a bucket (named `test`) which contains a single object with

[2021-03-09 07:56] octavd commented on #28
Hmm, i've installed the new extension but when clicking on it it just .. white. See attached screenshot.

![image](https://user-images.githubusercontent.com/33294589/110437086-a75d0e80-80bd-11eb-9483-9c1122d4ad31.png)

[2021-03-09 13:00] reevejd commented on #28
It looks like the labextension is installed, but not the serverextension. Can you confirm you've run:
[code]

I'll create an issue for displaying an error message when the serverextension is not installed

[2021-03-09 13:03] reevejd opened #35 "Display a clear error message when the serverextension is not installed"
**Is your feature request related to a problem? Please describe.**
When I've installed the lab extension but not the serverextension, I get a blank screen.

**Describe the solution you'd like**
I would like to see a clear error message explaining what I need to do to make the extension work.

[2021-03-09 13:12] octavd commented on #28
Yes, I confirm that i've ran that command also. The same situation.

[2021-03-09 14:43] octavd commented on #28
Hey,
So i have my jupyterlab in a docker container and rebuilt again the image. This time it worked. It displays the login page.. BUT, there is something very fishy that is happening:

Below you can find the screenshot with Jupyterlab that has s3 extension version **0.9.0**.
In the left you can see i am listening the contents of a bucket with aws cli. It has a folder + some files in that folder.
!

[2021-03-09 23:58] reevejd commented on #28
If you go to `/jupyterlab_s3_browser/files/<your_bucket_name>/enec7464/` (note: trailing slash is important) do you get normal looking file/object names or are they messed up as well? E.g. I'm typically running on http://localhost:8888/lab so I would go to `http://localhost:8888/jupyterlab_s3_browser/files/<your_bucket_name>/enec7464/`. I'm not familiar with your setup so adjust accordingly.

If t

[2021-03-10 09:31] octavd commented on #28
Checked with version **0.9.0** and it seems it's broken there also:

`[{
	"name": "2F",
	"path": "bucket/enec7464%2F",
	"type": "file",
	"mimetype": "json"
}, {
	"name": "2Ffabien%2F",
	"path": "bucket/enec7464%2Ffabien%2F",
	"type": "directory",
	"mimetype": "json"
}]`

I've checked the container logs and there is no error, warning etc.

In **0.4.1** information is displayed correctly.

[2021-03-10 10:04] octavd commented on #28
From what i can see in the changes made for this project i see that in version **0.5.0** listing of the objects was changed -> https://github.com/IBM/jupyterlab-s3-browser/compare/0.4.1...0.5.0#diff-015dc3477a4a61980c936a9b43d9bab83c0270567ea95788ffd52a98cd76d57a

[2021-03-11 17:02] reevejd commented on #28
Thanks for the details, I'll take a closer look later today

[2021-03-14 15:07] reevejd commented on #28
Unfortunately I still haven't been able to reproduce the issue:
<img width="466" alt="Screen Shot 2021-03-14 at 11 01 19 AM" src="https://user-images.githubusercontent.com/12180828/111073476-38185d80-84b5-11eb-8915-e76196750469.png">
Are you experiencing the issue for all of the objects in the bucket, or just the ones with the `enec7464` prefix? Are you experiencing the issue for all buckets or ju

[2021-03-15 09:11] octavd commented on #28
I am experiencing this for all the prefixes from the bucket. It's very strange because if i put that version 0.4.1 it works. Everything is displayed correctly. The rest of the docker image libraries remain the same. I cannot share that docker image.

[2021-03-17 23:23] jpays commented on #4
Hi reevejd

Thank you for the good work.
Do you still plan to implement this？
This would be unvaluable to us.

[2021-03-19 13:56] reevejd commented on #4
Yep, I still plan to implement it. I'll take a look this weekend and see how much work it is / when I expect it to be available.

[2021-04-12 22:25] GomesNayagam commented on #5
i still see the issue blank screen, after setting those environment variable

[2021-05-21 13:51] octavd commented on #28
Hello @reevejd ,

Hope you are well. I was wondering if you have tested this extension with an **S3 Compatible Storage**?

[2021-05-27 12:32] reevejd commented on #28
Yes, I actually use IBM Cloud's Object storage and Minio more than AWS's S3 (though I do use that as well).

[2021-07-06 08:46] octavd commented on #28
Hey @reevejd ,

Ok, so i digged up more regarding this and i've found something interesting :).

I see that we have this function [s3client.list_objects_v2](https://github.com/IBM/jupyterlab-s3-browser/blob/master/jupyterlab_s3_browser/handlers.py#L221)

I've tried to run this locally and i've found that:

1) If i would call this function as it is:

**It's  adding a weird character -> **{'Prefix':

[2021-07-06 11:46] octavd commented on #4
Hello @reevejd ,

Any news about this request? It would be amazing to have this features implemented.

Best regards,
Octavian

[2021-07-07 15:33] reevejd commented on #28
Hi Octavian,

Thanks for the additional details. I should have some time to continue investigating later this week. I'll keep you posted.

[2021-07-07 15:37] octavd commented on #28
Hey James,

Really thanks! Hope to finally solve this issue. 🚀

Best regards,
Octavian

[2021-08-06 13:06] octavd commented on #28
Hey @reevejd ,

Did you manage to take a look at this?

[2021-08-12 18:16] octavd commented on #28
Hey @reevejd,

Looking forward to test it. :D

[2021-08-23 06:55] octavd commented on #28
Hello @reevejd ,

I've tested and when running the
[code]
after the
 ```jupyter labextension install jupyterlab-s3-browser```
and
```build```
i am getting the below error.
[code]

[2021-08-24 21:59] reevejd commented on #28
I'm not able to reproduce with a minimal Dockerfile, the below image builds for me:
[code]
I'm guessing I have not been specific enough in the versions of boto3 (and maybe s3fs) that my extension supports.

Would you be able to show me the output of `pip freeze` from your environment? That may help me reproduce the issue.

[2021-08-25 06:53] octavd commented on #28
Hey, i think i've found out why.

I am using **jupyterlab==2.2.9**

[code]

Try like that and it should show that the extension is not installed.

![image](https://user-images.githubusercontent.com/33294589/130740958-dad35422-3b71-4c37-b389-9574bd426b45.png)

[2021-09-06 04:41] bkahloon opened #51 "Unable to see any objects in S3 (possibly problem with configuration)"
**Describe the bug**

Hi, this might not be a bug but rather me configuring the extension improperly but I'm unable to see any objects under the bucket icon (once clicked). I do see the following error message in the logs

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Installed `jupyterlab-s3-browser` (for jupyter lab 3) following the instructions in the main readme
2. Refreshed AW

[2021-09-07 21:00] bkahloon commented on #51
Was able to resolve

[2021-09-07 21:00] #51 closed

[2021-09-08 11:34] octavd commented on #28
Hello @reevejd ,

Any news regarding the bug described above?

Thank you!

[2021-09-08 20:45] reevejd commented on #28
Hello,

I'm glad to hear the display issues have been fixed. I've noticed the issue you described in your above comment as well. I haven't figured it out yet, I'm guessing I've configured s3fs wrong somehow and the caching is broken. I'll keep you posted.

Thanks

[2021-09-12 18:57] octavd commented on #28
Cool! Looking forward! 🙂

[2021-10-12 13:15] gopesh1992 commented on #51
@bkahloon, can you pls explain how did you fix this issue, I am also facing similar issues. I have configured S3 browser in Jupyterlab as per given instructions in IBM/jupyterlab-s3-browser and set below three environment variables ,

export JUPYTERLAB_S3_ENDPOINT="https://s3.us.cloud-object-storage.appdomain.cloud"
export JUPYTERLAB_S3_ACCESS_KEY_ID="my-access-key-id"
export JUPYTERLAB_S3_SECRET_

[2021-10-12 18:30] gopesh1992 opened #52 "s3-browser not listing any objects from s3(unable to see any object)"
Hi, I have configured the s3 browser extension as per given instructions in readme but I'm unable to see any object under the bucket icon (once clicked).

Steps to reproduce the behavior:

Installed jupyterlab-s3-browser (for jupyter lab 3) following the instructions in the main readme.
Added below environment variables as given in the instructions,

export JUPYTERLAB_S3_ENDPOINT="https://s3.us.cl

[2021-10-12 20:25] octavd commented on #28
Hello @reevejd! Hope you are ok.
Any news regarding this last bug? 🙂

[2021-10-13 05:19] bkahloon commented on #51
oh, can you click on the folder icon instead and see if that helps. I ended up using a different extention (s3contents) for my use case if that helps

[2021-10-13 11:41] gopesh1992 commented on #51
@bkahloon , Folder icon does contain files that I have created like - notebook, text file etc..

[2021-10-18 04:20] reevejd commented on #28
Hi @octavd . I think the latest build should fix most of those issues, you can try it out with:
[code]
I will try to do a proper 0.11.0 release at the end of this week after ironing out a few more bugs.

[2021-10-18 04:21] reevejd commented on #52
Hi @gopesh1992, thanks for reporting the issue. I’m going to try to release a new version of the extension this week after ironing out a few bugs, this will hopefully be one of them.

If you're eager there's a release candidate available that may already fix the issue, you can try it out with:
[code]

If you're still seeing the issue on the new version please let me know.

[2021-11-15 04:39] reevejd commented on #52
@mleuthold, thanks for reporting the issue. It's been fixed in `0.11.0-rc.1`.

@gopesh1992 Sorry I didn't read your original message carefully enough. You said:

If you want to set credentials at runtime you should omit the `JUPYTERLAB_S3` environment variables. Or you can set them to your actual credentials instead of the examples I provided. If I've misunderstood and you _are_ using valid creden

[2021-11-24 05:51] kdzhao opened #55 "singleton-decorator declared in setup.py but not used?"
Not exactly a bug nor feature per se, but in the setup file it says requires "singleton-decorator", which I assume it is this one:
https://github.com/Kemaweyan/singleton_decorator
But after some search in this code base and I didn't see where this package is being used. Or maybe my understanding is wrong?

Thanks

[2021-12-29 00:04] rmontenegroo opened #56 "Error trying to remove an file from bucket"
Hey, guys!

First of all great job.

When I try to remove a file from a bucket I got the following error in the notebook log:

'''
what happened?
resource() missing 1 required positional argument: 'service_name'
[I 2021-12-28 23:57:40.121 SingleUserNotebookApp log:189] 200 DELETE /user/07961865705/jupyterlab_s3_browser/files/jupyter/07961865705/Estaleiro/ingestao-incremental-copy.ipynb?16407358600

[2022-01-10 14:36] octavd commented on #28
Hey @reevejd , Happy New Year!
Will we have a stable version for this extension?

[2022-01-13 02:43] reevejd commented on #56
Thanks for reporting the bug. I'll try to take a closer look later this week.

[2022-01-13 02:44] reevejd commented on #28
Hi again, happy new year and thanks for your continued interest.

I will try to get a stable release out within the next two weeks.

[2022-01-27 23:54] kdzhao commented on #23
Maybe as first step, if the UI can allow people to download a file, or upload a file, it will be great.
At the moment, when I try to right click a file in s3 and select download, it gives error like:

Sorry
This feature is not yet implemented.

Thanks

[2022-01-31 22:28] kdzhao opened #59 "Allow users to display certain buckets only"
For any reasonable sized environment, the aws s3 ls will return a large number of bucket names, and most of them are not related to the user's interests. It will be great to have a configuration somewhere, that filter out the unrelated bucket names and only display the ones users want.

- Let's make sure users know this only filters out in the UI, not by underlying permission.
- An example is to c

[2022-02-16 16:36] kdzhao commented on #55
Any comments? Thanks!

[2022-02-28 15:28] octavd commented on #28
Hello @reevejd ,

I've tested 0.11.0 version which was launched a few days ago and i can confirm it works ok.
This loooooooooong bug can be closed now.

Thank you very much,
Octavian

[2022-02-28 15:28] #28 closed

[2022-03-02 01:21] gaolebber commented on #52
I'm unable to see any object under the bucket icon
Steps to reproduce the behavior:
Installed jupyterlab-s3-browser following the instructions in the main readme.
Added below environment variables as given in the instructions,
Configured according to AWS certificate ~ / AWS / credentials configured

export JUPYTERLAB_S3_ENDPOINT="https://s3.us.cloud-object-storage.appdomain.cloud"
export JUPYTERLA

[2022-03-06 16:16] reevejd commented on #52
Hi @gaolebber, thanks for reporting the issue. What version of JupyterLab and the extension are you running? You're not seeing the prompt to enter credentials because you've set them through environment variables. If you don't specify the credentials as environment variables, does entering the credentials through the prompt work?

[2022-03-06 17:40] gaolebber commented on #52
@reevejd
jupyterlab       : 3.2.1
jupyterlab-s3-browser v0.11.0-rc.1
The problem now is that I specify the configured credentials as environment variables, and there is still no browser information
There is no description in the jupyterhub debug log. Can I get the log description anywhere else

[2022-03-07 06:38] gaolebber commented on #52
SingleUserLabApp log:189] 404 GET /user/lebber/jupyterlab_s3_browser/files?1646633771191 (lebber@::ffff:172.24.254.210) 20.42ms
    ValueError: "['jupyterlab-spreadsheet@0.4.1', 'jupyterlab-topbar-extension@0.6.0', 'jupyterlab-system-monitor@0.7.0', 'jupyterlab-drawio@0.9.0', '@jupyter-widgets/jupyterlab-manager@3.0.1', '@krassowski/jupyterlab-lsp@3.10.0', 'jupyterlab-s3-browser@0.11.0']" is not a

[2022-03-07 23:31] reevejd commented on #52
@gaolebber thanks for the details. This issue should be fixed in version `0.11.1`, which is now available.

[2022-03-08 04:42] gaolebber commented on #52
@reevejd It has been solved perfectly. Thank you

[2022-03-08 13:49] #52 closed

[2022-03-28 11:38] mohittalele opened #63 "File upload function do not upload complete file"
**Describe the bug**
I am trying to upload scv file which contains million rows. Using the s3-browser functionality I can upload file - However not complete file is uploaded and about 50% of the data is lost. The s3-broswer do not show any logs or error message
**To Reproduce**
Steps to reproduce the behavior:

1. Take fairly large csv file
2. Click on upload button in s3 browser
3. s3 browser Upl

[2022-04-05 19:34] Corbanez97 opened #65 "S3 Authentication Error"
After configuring the Endpoint URL, Access Key, and Secret Access Key, I'm still getting the following error:

[code]

These same credentials are working properly on others S3 Browsers.

- OS: Ubuntu
- Browser: Chrome
- Lastest `jupyterlab-s3-browser`

[2022-04-24 13:34] rabernat opened #68 "Pass errors to jupyterlab interface?"
Thanks you for providing this extremely useful labextension! 🙏 @yuvipanda and I checked it out yesterday on a [2i2c JupyterHub](https://2i2c.org/) and were presently surprised when things "just worked" for many scenarios. I am opening this issue to share a specific point of feedback from our first experience.

**Is your feature request related to a problem? Please describe.**

It is very common to

[2022-04-24 13:37] rabernat commented on #59
This appears to be a duplicate of #18.

[2022-04-24 14:17] rabernat opened #69 "Anonymous s3 access"
**Is your feature request related to a problem? Please describe.**

There are many excellent datasets available via s3--for example the [AWS Public Datasets program](https://registry.opendata.aws/). It is not currently possible to anonymously browse public buckets with this extension, which requires you to enter credentials.

**Describe the solution you'd like**

I would like to see an "anonymous"

[2022-04-26 12:41] rabernat opened #71 "Consider updating s3fs version pin?"
**Is your feature request related to a problem? Please describe.**

In https://github.com/pangeo-data/pangeo-docker-images/pull/309 we are trying to build a docker image that contains this extension, plus a lot of other packages. Currently this package pins `s3fs==2021.10.1`

https://github.com/IBM/jupyterlab-s3-browser/blob/2604cf09818c0bc15d980038e38fc22f2320adfc/setup.py#L97

That hard version

[2022-04-28 16:23] martindurant opened #72 "Getting involved"
I only very recently found out about this repo, and I'm glad to see someone working on this kind of thing. I would be happy to help where I can to push things forward.

I wonder, do you have any thoughts on integrating with other fsspec backends and/or support multiple configurations for s3fs as separate tabs or maybe multiple folders in the same tab?

Are you aware of a similar project based on p

[2022-04-29 14:34] reevejd commented on #72
Hi @martindurant, thanks for your interest. I haven't taken an in-depth look, but if I understand correctly jupyter-fs's scope encompasses everything in jupyterlab-s3-browser and then some. What are you looking to get out of this project that you can't get out of jupyter-fs? Is there a niche jupyterlab-s3-browser can fill or in your view should I be contributing to jupyter-fs instead?

[2022-05-02 13:20] rabernat commented on #71
Hi folks! I'm following up on this issue. Have you had time to consider this request. Would you be open to a PR to make this change? Can anyone (maybe @reevejd) explain why s3fs is pinned?

[2022-05-02 21:43] reevejd commented on #71
Hi @rabernat, sorry for the lack of response. I don't think there's a good reason for the s3fs pin. Please do open a PR, thanks!

[2022-05-02 22:20] #71 closed

[2022-05-02 23:32] reevejd commented on #71
@rabernat FYI this was released in https://github.com/IBM/jupyterlab-s3-browser/releases/tag/0.12.0

[2022-06-11 06:47] jhgoebbert opened #74 "sidebar-icon at top position"
**Describe the bug**
The sidebar icon of jupyterlab-s3-browser is located at the first top position in the left sidebar in our setup.
This is IMHO reserved for JupyterLab's filebrowser. So I would consider this as a bug 🤔

![image](https://user-images.githubusercontent.com/9266792/173176721-d6d815f3-4bd6-43df-9d0b-399eb142341b.png)

I have seen screenshots of jupyterlab-s3-browser where this was n

[2022-06-11 09:07] jhgoebbert opened #75 "Homepage link on PyPi wrong"
I just came across this link on https://pypi.org/project/jupyterlab-s3-browser/

It should point to
https://github.com/IBM/jupyterlab-s3-browser/
but it points to
https://github.com/IBM/jupyterlab_s3_browser/

![image](https://user-images.githubusercontent.com/9266792/173181401-f8ba5bfe-f7d7-46f0-85cf-ceac12663fe1.png)

[2022-06-11 09:13] jhgoebbert commented on #74
You set `rank` to 100 here:
https://github.com/IBM/jupyterlab-s3-browser/blob/master/src/index.ts#L71

If you follow the recommendations for `rank` from the documentation here
https://jupyterlab.readthedocs.io/en/stable/extension/extension_points.html#left-right-areas
[code]
you might want to change that 501 at least.

[2022-06-19 22:25] #75 closed

[2022-06-22 09:33] PhE commented on #4
It's working (folder and file creation)
this issue should be closed

[2022-06-22 09:39] PhE opened #79 "access s3 content from Python"
The S3 content is accessible with the browser pane on the left.
But the S3 content is not *visible* from the Python code inside the Notebook.

If I have a `notebook.ipynb` along with a `data.txt`file in the same folder,
the following code in the notebook will fail :
[code]
I understand the S3 content can't be exposed as a filesystem to the Python kernel.
But we should have a way to access the S3 c

[2022-06-22 10:09] PhE commented on #79
I managed to access the S3 content from my notebook with the s3fs module :
[code]
It's working but is there a simplier way to get this s3fs access ?

I don't want my users to deal with the S3 credentials if they want to access the S3 content from their notebook.

[2022-06-27 15:03] traviscancode604 opened #80 "Cannot Save Files to S3 Within JupyterLab"
**Describe the bug**
While using the extension and creating a new file within an S3 bucket, the file cannot be saved. An error is given:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create new file in S3 bucket through Jupyter Lab (e.g.: test.md).
2. Open and modify the file.
3. Try to save the file.
4. See error `Path must be a string. Received undefined` error.

**Expected beha

[2022-07-04 22:07] skumagai opened #81 "Creating a conda package on conda-forge"
My work heavily relies on conda over pip.

Would you mind if I create a conda package of this project and contribute it to conda-forge?

[2022-07-20 23:07] reevejd commented on #81
Hello, thanks for your interest. Later this week I should be able to set up automatic publishing to conda for each new release.

[2022-07-21 15:19] rabernat opened #85 "NASA is working on"
At the ESIP2022 meeting, I learned that NASA is developing a new S3 Jupyterlab Extension with the following features

Tagging @rezuma for potential collaboration points with this project.

[2022-07-24 20:55] skumagai commented on #81
Hi, That sounds great. Looking forward to it.

[2022-08-31 11:13] cgjosephlee opened #89 "Move files between s3 and local (copy and paste)?"
**Describe the bug**
Copy s3 file and paste in local folder is not working, and vice versa.

**To Reproduce**
1. Copy file in s3 bucket (cmd+C)
2. Move to local folder in file browser.
3. Cmd+V
4. Nothing happen.

**Expected behavior**
S3 file is copied to local folder (or "downloaded").

**Screenshots**

**Desktop (please complete the following information):**

- OS: macOS 12.5
- Browser: Chrome

[2022-09-01 21:39] wags1999 commented on #80
I ran into this error as well - but it appears this is what is displayed when Access is Denied to that S3 location.  When I try to upload to a bucket that I have permissions to, then it works properly.

[2022-09-27 10:38] Alwin4Zhang commented on #89
local file also cannot upload to s3 via browser

[2022-10-17 14:20] reevejd commented on #63
Hi @mohittalele, thanks for your interest and sorry for the lack of updates on this issue. I'm guessing the issue is that the serverextension doesn't handle the case where jupyterlab breaks a file up into chunks for uploading. The extension is probably just overwriting the whole file with the latest chunk every time. Are you able to confirm that hypothesis? Specifically I'm thinking you'll see the

[2022-10-21 10:00] ShajuVJ opened #90 "Issue while renaming S3 directory in Studio"
I'm using Sagemaker Studio, and trying to organise the S3 bucket contents from the sidebar.
I had a directory called test/abc, right-clicked on it and pressed Rename, into test/Abc, (changed first letter from lowercase to uppercase) and while the new directory showed up, the old one is still there, with all its subdirectories, but without any files.

[2022-11-25 09:51] edgargoncalves commented on #90
I also have this issue. The S3 browser doesn't support directories with upper case letters correctly. This cases certain operations such as renaming or creating files/directories on them to try and work on a lowercase version of the path, and it (1) shows an error saying the newly created/renamed files aren't there and (2) on the background, it creates the equivalent directory tree in lowercase le

[2022-11-25 10:14] edgargoncalves commented on #90
I think this might be related to the lowercase conversion here: https://github.com/IBM/jupyterlab-s3-browser/blob/master/jupyterlab_s3_browser/handlers.py#L301 .